@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Open Sans', sans-serif;
}

.appWrapper {
  margin: 60px 20px;
  padding: 10px 10px;
  border-radius: 5px;
  text-align: center;
  background-color: darkblue;
  color: white;
}

.title {
  font-size: 28px;
  margin: 0.75rem 0;
}

.hrs,
.mins,
.secs {
  width: 10rem;
  margin: 0.75rem 0;
}

.calculateBtn {
  margin: 0.25rem 0;
}
